body {
    width: 800px;
    margin: 4em auto;

    text-align: center;
    line-height: 125%;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
}

canvas {
    border-radius: 10px;
    background-color: #CCC;
}

#description, #information {
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
}

#information {
    margin-top: 4em;
}

#information ul {
    margin-top: 0.5em;
}

.column {
    width: 48%;
    display: block;
    text-align: center;
    margin: auto;
}

.clear {
    clear: both;
    padding-top: 1em;
    text-align: center;
}

table {
    border: 0px;
    width: 100%;
}

.column1 table {
    float: right;
    text-align: right;
}

.column1 table td:last-of-type, .column2 table td:first-of-type {
    width: 1.5em;
    font-weight: bold;
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}